/*Navbar CSS*/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  margin: 0;
  padding: 0;
}

.intro-section h1 {
  font-family: "Roboto", sans-serif;
}
.h1-class {
  margin: 13% 0 0 35%;
  color: white;
}
.h5-class {
  margin: 0 0 0 35%;
  color: white;
}
.first-section {
  background-image: url("../assets/navimg.jpg");
  background-repeat: no-repeat;

  background-position: center;
  background-size: cover;
}
img {
  background-repeat: no-repeat;
  max-width: 100%;
  background-size: cover;
}
.contents h1 h5 {
  padding-left: 10px;
  padding-top: 40px;
}
.navbar,
.navcolor,
.navbar-brand,
li,
a {
  text-decoration: none;
  color: white;
}
.nav-link {
  text-decoration: none;
  color: white !important;
}
.buttonpadding {
  padding-bottom: 20%;
}
.na {
  float: right;
}
.contents {
  color: white;
  margin-top: 10%;
  font-size: 70px;
  font-family: helvetica;
  text-align: center;
}
.belowcontents {
  color: white;
  text-align: center;
  font-size: 25px;
  font-family: helvetica;
}
.search {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 25%;
  margin-top: 2%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 350px;
  border-radius: 50px 0 0 50px;
  border-color: transparent;
}
.butt {
  padding-bottom: 17.5px;
  padding-top: 20px;
  margin-bottom: 0.4%;
  padding-right: 40px;
  border-radius: 0 50px 50px 0;
  background-color: #dc3545;
  color: white;
  border-color: transparent;
}
.listus {
  margin-left: 35%;
  padding-bottom: 10%;
  border: none;
  color: white;
}
.topnav {
  font-size: 18px;
}
.aa {
  color: white;
}
/*Description CSS*/
.m2head {
  margin-top: 5%;
  font-family: helvetica;
  text-align: center;
}
.m2p1 {
  text-align: center;
  display: grid;
  grid-template-columns: 3fr 7fr;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3%;
  font-family: helvetica;
  padding-top: 50px;
}
.off {
  margin-top: 30%;
  width: 100%;
  height: 100%;
}
.img-fluid {
  width: 100%;
  height: 100%;
}
.offimg {
  background-image: url(../assets/office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin-left: 10%;
}
.m2p2 {
  text-align: center;
  display: grid;
  grid-template-columns: 70% 30%;
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 3%;
  font-family: helvetica;
  padding-top: 50px;
}
.coworkimg {
  background-image: url(../assets/cowork.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  margin-right: 3%;
}
.co {
  margin-top: 30%;
  margin-left: 7%;
}
.m2p3 {
  text-align: center;
  display: grid;
  grid-template-columns: 30% 70%;
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 3%;
  font-family: helvetica;
  padding-top: 50px;
}
.list-group-item {
  color: black;
}

.meetingimg {
  background-image: url(../assets/meeting.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 475px;
  margin-left: 3%;
  margin-right: 10%;
}
.m2p4 {
  text-align: center;
  display: grid;
  grid-template-columns: 70% 30%;
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 3%;
  font-family: helvetica;
  padding-top: 50px;
}
.loungeimg {
  background-image: url(../assets/lounge.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  margin-right: 3%;
}
/* Contact Us */
.aaa {
  height: 250px;
  width: 87%;
  margin-left: 8%;
  margin-right: 10%;
  margin-top: 2%;
}
.carou {
  color: white;
}

/*Footer CSS*/
.footer {
  background-image: url(../assets/f1.jpg);
  background-repeat: inherit;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
  left:5%;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 20px;
}

h3 {
  color: #ffffff;
  font-weight: bold;
}

.cont {
  color: #ffffff;
  font-size: 12px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* footer center*/

.footer .footer-center {
  width: 30%;
  left:5%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #ffffff;
  text-decoration: none;
}

/* footer right*/

.footer .footer-right {
  width: 35%;
  left:5%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  font-weight: 100;
  font-size: 14px;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 300px 1fr 200px;
      grid-template-rows: 300px 1fr 200px;
  width: 75%;
  margin: 0 0 0 15%;
      grid-template-areas: "Bangalore Bangalore Hyderabad Pune"
                            "Bangalore Bangalore Mumbai Kolkata"
                            "Delhi Gurgaon Mumbai  Noida";
  grid-gap: .2em;
  position:relative;
}

.grid-item1 {
  /*bangalore*/
  background-image: url("../assets//img/bangalore.png");
  background-size: cover;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: Bangalore;
  font-family: helvetica;
  display:flex;
  flex-direction: column;
}

.grid-item2 {
  /*Hyderabad*/
  background-image: url("../assets/img/hyderabad.png");
  background-size: cover;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: Hyderabad;
}

.grid-item3 {
  /*Pune*/
  background-image: url("../assets/img/pune.png");
  background-size: cover;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: Pune;
}

.grid-item4 {
  /*Delhi*/
  background-image: url("../assets/img/delhi.png");
  background-size: cover;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Delhi;
}

.grid-item5 {
  /*Gurgaon*/
  background-image: url("../assets/img/gurgaon.png");
  background-size: cover;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: Gurgaon;
}

.grid-item6 {
  /*Mumbai*/
  background-image: url("../assets/img/Mumbai.png");
  background-size: cover;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: Mumbai;
}

.grid-item7 {
  /*Kolkata*/
  background-image: url("../assets/img/Kolkata.png");
  background-size: cover;
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: Kolkata;
  height: 150px;
}

.grid-item8 {
  /*Noida*/
  background-image: url("../assets/img/noida.png");
  background-size: cover;
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: Noida;
}

.text {
  color: #111111;
  font-family: helvetica;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: center;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  font-size: x-large;
  font-weight: bold;
}

.text:hover {
  -webkit-transition: .5s;
  transition: .5s;

}
.overlay{
  position: relative;
  background: rgb(10, 92, 92);
  opacity: 0;
  width: 100%;
  height: 100%;
}
.grid-item1:hover .overlay, .grid-item2:hover .overlay, .grid-item3:hover .overlay, .grid-item4:hover .overlay, .grid-item5:hover .overlay, .grid-item6:hover .overlay, .grid-item7:hover .overlay, .grid-item8:hover .overlay {
opacity: .8;
transition: 0.5s ease;
}
p{
  /* border: 1px solid #eaedf0;
  border-radius: 3px; */
  color: #fff;
  padding:10px;
}

.booking-hover:hover{
  background-color: cornsilk;
  color:black;
  cursor: pointer;
  transition: .5s;
}

.grid-item1 > .overlay{
font-size:small;
}
.grid-item2 > .overlay{
  font-size:small;
}
.grid-item3 > .overlay{
  font-size: small;
}
.grid-item4 > .overlay{
  font-size: x-small;
}

.grid-item5 > .overlay{
  font-size: x-small;
}

.grid-item6 > .overlay{
  font-size: small;
}

.grid-item7 > .overlay{
  font-size: x-small;
}
.grid-item8 > .overlay{
  font-size: x-small;
}

.bangalore
{
  position: absolute;
  top:0%;
  color:white;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.grid-item1:hover .bangalore, .grid-item2:hover .hyderabad, .grid-item3:hover .pune, .grid-item4:hover .delhi, .grid-item5:hover .gurgaon, .grid-item6:hover .mumbai, .grid-item7:hover .kolkata, .grid-item8:hover .noida{
display:none;
}
.hyderabad{
  position: absolute;
  top:0%;
  left:52%;
  color:white;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.pune{
  position: absolute;
  top:0%;
  right:10%;
  color:white;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.delhi{
  position: absolute;
  bottom:25%;
  left:10%;
  color:white;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.gurgaon{
  position: absolute;
  bottom:25%;
  left:30%;
  color:white;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.mumbai{
  position: absolute;
  left:54%;
  bottom:45%;
  color:white;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.kolkata{
  position: absolute;
  right:5%;
  color:white;
  bottom:45%;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.noida{
  position: absolute;
  bottom:25%;
  right:10%;
  color:white;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}


/* Responsiveness */

@media (max-width:900px){
  .grid-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 300px 1fr 200px;
        grid-template-rows: 300px 1fr 200px;
    width: 50%;
    margin: 50px auto 0 auto;
        grid-template-areas: "Bangalore Bangalore Hyderabad "
                              "Bangalore Bangalore Mumbai "
                              "Delhi Gurgaon Mumbai"
                              "Pune Kolkata Noida";
    grid-gap: .2em;
  }
  .hyderabad{
    top:0%;
    left:68%;
  }
  .delhi{
    bottom:50%;
    left:10%;
  }
  .gurgaon{
    bottom:52%;
    left:38%;
  }
  .mumbai{
    left:70%;
    bottom:55%;
  }
  .pune{
    left:10%;
    top:70%;

  }
  .kolkata{
    right:40%;
    top:70%
  }
  .noida{
    left:70%;
    top:70%;
  }
}



@media (max-width:600px){
  .grid-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr ;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 300px 200px 200px 200px 200px;
        grid-template-rows: 300px 200px 200px 200px 200px;
    width: 50%;
    margin: 50px auto 0 auto;
        grid-template-areas: "Bangalore Bangalore"
                              "Mumbai Hyderabad"
                              "Delhi Gurgaon"
                              "Pune Kolkata"
                              "Noida .";
    grid-gap: .2em;
  }
  .overlay{
    position: relative;
    background: rgb(10, 92, 92);
    opacity: 0;
    width: 100%;
    height: 100%;
  }
  .grid-item1:hover .overlay, .grid-item2:hover .overlay, .grid-item3:hover .overlay, .grid-item4:hover .overlay, .grid-item5:hover .overlay, .grid-item6:hover .overlay, .grid-item7:hover .overlay, .grid-item8:hover .overlay {
  opacity: .8;
  transition: 0.5s ease;
  }
  .hyderabad{
    /* position: absolute; */
    top:28%;
    left:50%;
  }
  .delhi{
    bottom:50%;
    left:8%;
  }
  .gurgaon{
    bottom:50%;
    left:53%;
  }
  .mumbai{
    left:8%;
    top:28%;
  }
.pune{
left:8%;
top:30em;
                              
 }
  .kolkata{
    right:10%;
    top:30em;
  }
  .noida{
    left:8%;
    top:38em;
  }
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}
